<h2>Edit your article</h2>

<%= form_with model: @article,  method: :get, local: true do |form|%>
  <p>
    <%= form.label :title %>
    <br>
    <%= form.text_field :title %>
  </P>
  <p>
    <%= form.label :content%>
    <br>
    <%= form.text_area :content%>
  </p>
  <%= form.submit "Save changes"%>
<% end %>
